<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sangam.kshatriya.com">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nakhas_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GridViewImageTextActivity"
            android:label="@string/title_activity_grid_view_image_text">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomGridViewActivity"
            android:label="@string/title_activity_custom_grid_view" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="sangam.kshatriya.com.home" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutUsActivity"
            android:label="@string/title_activity_about_us">
            <intent-filter>
                <action android:name="sangam.kshatriya.com.aboutus" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:label="@string/title_activity_history">
            <intent-filter>
                <action android:name="sangam.kshatriya.com.history" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StoryActivity"
            android:label="@string/title_activity_story">
            <intent-filter>
                <action android:name="sangam.kshatriya.com.story" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TemplesActivity"
            android:label="@string/title_activity_temples">
            <intent-filter>
                <action android:name="sangam.kshatriya.com.temples" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us">
            <intent-filter>
                <action android:name="sangam.kshatriya.com.contactus" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MembersActivity"
            android:label="@string/title_activity_contact_us">
            <intent-filter>
                <action android:name="sangam.kshatriya.com.members" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>